/* color: back :#ECC6E0
a propos: #C69DD2 
cv: #CC8B8C
project: #C68866
other colors: #7F7EFF ; #A390E4*/
html {
    height: 100%;
    width: 100%;
    background-color: #D2D2D2;
    background-size: cover;
    scrollbar-color: black;
}

@font-face {
    font-family: 'Fred';
    src: url('../font/FrederickatheGreat-Regular.ttf') format('truetype');
}

nav {
    height: 10%;
    width: 100%;
    margin-top: 0;
    background-color: black;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    position: fixed;
    top: 0;
    left: 0px;
    z-index: 10;
}

#nav {
    text-decoration: none;
    color: white;
    font-size: 25px;
    margin-top: -2%;
}

#index {
    width: 101.5%;
    margin-left: -1%;
    height: 750px;
}

#sstranger {
    position: absolute;
    z-index: 10;
    top: 27%;
    left: 25%;
    font-size: 40px;
    font-family: 'Fred';
    font-weight: bolder;
}

#skill {
    position: absolute;
    top: 40%;
    right: 20%;
    text-decoration: none;
    color: white;
    font-size: 25px;
    margin-top: -2%;
}

#sskill {
    position: absolute;
    top: 40%;
    right: 10%;
    text-decoration: none;
    color: white;
    font-size: 25px;
    margin-top: -2%;
}

#moi {
    position: absolute;
    top: 116%;
    left: 35%;
    width: 30%;
}

.card {
    position: absolute;
    top: 110%;
    left: 25%;
    transform: rotate(11deg);
    height: 80%;
    background-color: #2a2a40;
    width: 50%;
}


.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {

    text-align: center;
    font-size: 18px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}


#sp {
    position: absolute;
    top: -9%;
    font-size: 30px;
    font-family: 'Fred';
    color: #2a2a40;
    font-weight: bold;
}


span {
    border-right: .05em solid;
    animation: caret 1s steps(1) infinite;
}

@keyframes caret {
    50% {
        border-color: transparent;
    }
}

.lf {
    position: absolute;
    height: 0%;
    width: 99%;
    border: 1px black;
    border-style: dashed;
    margin-bottom: 3%;
}

#contact {
    margin-top: 5%;
    display: flex;
}

#contact a {
    margin-left: 3%;
    text-decoration: none;
    color: black;
    font-size: 20px;
    ;
}

#btn{
    position: absolute;
    right: 2%;
    margin-top: 1%;
}