<footer>
    <div id="li">
    </div>
    <p id="line"> © 2020-Aflamy-Site réalisé par CAL ’ TECH</p>
    <p style="margin-left:10%; color:black"> 
    <a style="text-decoration:none; color:black" href="#">Accueil</a> -
    <a  style="text-decoration:none; color:black" href="#">Nouveautés</a> -
    <a  style="text-decoration:none; color:black" href="#">Top 10</a> -
    <a  style="text-decoration:none; color:black" href="#">Cinémas</a></p>
    <img style="margin-left:80%;" class="logo" src="/img/fb.png" alt="">    
    <img class="logo" src="/img/instagram.png" alt="">    
    <img class="logo" src="/img/tweet.png" alt="">    
    </footer>