<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <title>Aflamy</title>
</head>
<body>
    <nav>
    <img  id="imagebn" src="/img/myke-simon-atsUqIm3wxo-unsplash.jpg%>"  alt="banner">
<a href="/"><p id="afla" style="text-decoration:none; color:black;">Aflamy</p> </a>
<img id="avatar" src="/img/avatar.png" alt="">
<a href="new"><p class="title" style="text-decoration:none;">Nouveautés</p></a>
<a href=""><p class="title" style="left: 32%; top:50%; text-decoration:none;">Top 10</p></a>
<a href=""><p class="title" style="left: 56%; top:53%; text-decoration:none;">Cinémas</p></a>
</nav>
<section>
    <img id="box"  src="/img/box.jpg" alt="">
    <p class="titre"> Box-Office</p>

    <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide"style="color:white" ><div id="card"></div>
          <img class="imgcard" id="box-shadow" src="/img/affiches/boxoffice/bonne.jpg" alt="">
          <p class="desccard"><b>La Bonne épouse</b>
        </br>Tenir son foyer et se plier au devoir conjugal sans moufter : c’est ce qu’enseigne avec ardeur
         Paulette Van Der Beck dans son école ménagère. Ses certitudes vacillent quand elle se retrouve veuve et ruinée.
          Est-ce le retour de son premier amour ou le vent de liberté de mai 68 ? Et si la bonne épouse devenait une femme libre ?</p>
          <h5 class="desccard" style="top:46%" >Entrée : </h5><p class="desccard" style="top:48%; left: 66%">171 000</p>
          <h5 class="desccard" style="top:50%" > Cumul : </h5> <p class="desccard" style="top:52%; left: 66%">171 000</p>
          <h5 class="desccard" style="top:54%" > Semaine : </h5> <p class="desccard" style="top:56%; left: 66%">1</p>
          <h5 class="desccard" style="top:59%"><u>Casting</u> :</h5>
          <img id="rond" src="/img/affiches/acteurs/bo/jg.jpg" alt="" >
          <img id="rond" src="/img/affiches/acteurs/bo/nl.jpg" alt=""style="right: 19%">
          <img id="rond" src="/img/affiches/acteurs/bo/ym.jpg" alt="" style="right: 11%">
        </div>
          <div class="swiper-slide" ><div id="card"></div>
          <img class="imgcard" id="box-shadow" src="/img/affiches/boxoffice/enavant.jpg" alt="">
          <p class="desccard"><b>En Avant</b>
        </br>Dans la banlieue d'un univers imaginaire, deux frères elfes se lancent dans une quête extraordinaire pour découvrir s'il reste encore un peu de magie dans le monde.
    </p>
          <h5 class="desccard" style="top:46%" >Entrée : </h5><p class="desccard" style="top:48%; left: 66%">94 057</p>
          <h5 class="desccard" style="top:50%" > Cumul : </h5> <p class="desccard" style="top:52%; left: 66%">609 438</p>
          <h5 class="desccard" style="top:54%" > Semaine : </h5> <p class="desccard" style="top:56%; left: 66%">2</p>
          <h5 class="desccard" style="top:59%"><u>Casting</u> :</h5>
          <img id="rond" src="/img/affiches/acteurs/bo/cp.jfif" alt="" >
          <img id="rond" src="/img/affiches/acteurs/bo/th.jpg" alt=""style="right: 19%">
          <img id="rond" src="/img/affiches/acteurs/bo/os.jfif" alt="" style="right: 11%">
        </div>
          <div class="swiper-slide" ><div id="card"></div>
          <img class="imgcard" id="box-shadow" src="/img/affiches/boxoffice/gaulle.jpg" alt="">
          <p class="desccard"><b>De Gaulle</b>
        </br>Mai 1940. La guerre s’intensifie, l’armée française s’effondre, les Allemands seront bientôt à Paris.
         La panique gagne le gouvernement qui envisage d’accepter la défaite. Un homme, Charles de Gaulle,
          fraîchement promu général, veut infléchir le cours de l’Histoire. </p>
          <h5 class="desccard" style="top:46%" >Entrée : </h5><p class="desccard" style="top:48%; left: 66%">83 266</p>
          <h5 class="desccard" style="top:50%" > Cumul : </h5> <p class="desccard" style="top:52%; left: 66%">595 179</p>
          <h5 class="desccard" style="top:54%" > Semaine : </h5> <p class="desccard" style="top:56%; left: 66%">2</p>
          <h5 class="desccard" style="top:59%"><u>Casting</u> :</h5>
          <img id="rond" src="/img/affiches/acteurs/bo/lw.jpg" alt="" >
          <img id="rond" src="/img/affiches/acteurs/bo/ic.jpg" alt=""style="right: 19%">
          <img id="rond" src="/img/affiches/acteurs/bo/og.jpg" alt="wtf" style="right: 11%">
        </div>
          <div class="swiper-slide" ><div id="card"></div>
          <img class="imgcard" id="box-shadow" src="/img/affiches/boxoffice/man.jpg" alt="">
          <p class="desccard"><b>Invisible Man</b>
        </br>Cecilia Kass est en couple avec un brillant et riche scientifique. Ne supportant plus son comportement violent et tyrannique,
         elle prend la fuite une nuit et se réfugie auprès de sa sœur.
          Mais quand l'homme se suicide en laissant à Cecilia son immense fortune, celle-ci
           commence à se demander s'il est réellement mort... </p>
          <h5 class="desccard" style="top:46%" >Entrée : </h5><p class="desccard" style="top:48%; left: 66%">59 311</p>
          <h5 class="desccard" style="top:50%" > Cumul : </h5> <p class="desccard" style="top:52%; left: 66%">620 402</p>
          <h5 class="desccard" style="top:54%" > Semaine : </h5> <p class="desccard" style="top:56%; left: 66%">3</p>
          <h5 class="desccard" style="top:59%"><u>Casting</u> :</h5>
          <img id="rond" src="/img/affiches/acteurs/bo/em.jpg" alt="" >
          <img id="rond" src="/img/affiches/acteurs/bo/ojc.jpg" alt=""style="right: 19%">
          <img id="rond" src="/img/affiches/acteurs/bo/hd.jpg" alt="wtf" style="right: 11%"></div>
          <div class="swiper-slide" ><div id="card"></div>
          <img class="imgcard" id="box-shadow" src="/img/affiches/boxoffice/radio.jpg" alt="">
          <p class="desccard"><b>Radioactive</b>
        </br>Paris, fin du 19ème siècle. Marie est une scientifique passionnée, qui a du mal à imposer
         ses idées et découvertes au sein d’une société dominée par les hommes. Avec Pierre Curie,
          un scientifique tout aussi chevronné, qui deviendra son époux, ils mènent leurs recherches
           sur la radioactivité et finissent par découvrir deux nouveaux éléments : le radium et le polonium.
          </p>
          <h5 class="desccard" style="top:46%" >Entrée : </h5><p class="desccard" style="top:48%; left: 66%">36 738</p>
          <h5 class="desccard" style="top:50%" > Cumul : </h5> <p class="desccard" style="top:52%; left: 66%">36 738</p>
          <h5 class="desccard" style="top:54%" > Semaine : </h5> <p class="desccard" style="top:56%; left: 66%">1</p>
          <h5 class="desccard" style="top:59%"><u>Casting</u> :</h5>
          <img id="rond" src="/img/affiches/acteurs/bo/rp.jpg" alt="" >
          <img id="rond" src="/img/affiches/acteurs/bo/sril.jpg" alt=""style="right: 19%">
          <img id="rond" src="/img/affiches/acteurs/bo/ab.jpg" alt="wtf" style="right: 11%"></div>
          <div class="swiper-slide" ><div id="card"></div>
          <img class="imgcard" id="box-shadow" src="/img/affiches/boxoffice/foret.jpg" alt="">
          <p class="desccard"><b>L'appel de La forêt</b>
        </br>La paisible vie domestique de Buck, un chien au grand cœur, bascule lorsqu’il est brusquement arraché
         à sa maison en Californie et se retrouve enrôlé comme chien de traîneau dans les étendues sauvages du Yukon
          canadien pendant la ruée vers l’or des années 1890. </p>
          <h5 class="desccard" style="top:46%" >Entrée : </h5><p class="desccard" style="top:48%; left: 66%">34 114</p>
          <h5 class="desccard" style="top:50%" > Cumul : </h5> <p class="desccard" style="top:52%; left: 66%">1 179 087</p>
          <h5 class="desccard" style="top:54%" > Semaine : </h5> <p class="desccard" style="top:56%; left: 66%">4</p>
          <h5 class="desccard" style="top:59%"><u>Casting</u> :</h5>
          <img id="rond" src="/img/affiches/acteurs/bo/hf.jpg" alt="" >
          <img id="rond" src="/img/affiches/acteurs/bo/osy.jpg" alt=""style="right: 19%">
          <img id="rond" src="/img/affiches/acteurs/bo/ds.jpg" alt="wtf" style="right: 11%"></div>
          <div class="swiper-slide" ><div id="card"></div>
          <img class="imgcard" id="box-shadow" src="/img/affiches/boxoffice/maman.jpg" alt="">
          <p class="desccard"><b>10 jours sans maman</b>
        </br>Antoine, DRH d'une grande enseigne de bricolage, est en passe de devenir le numéro 1 de sa boîte.
         C'est le moment que choisit sa femme, Isabelle, pour faire une pause et prendre l'air quelques jours
          pour s'occuper d'elle. Antoine se retrouve alors seul à devoir gérer la maison et leurs quatre
           enfants. Il est vite dépassé par les événements ! 10 jours sans maman qui risquent bien de faire
            capoter sa nomination. </p>
          <h5 class="desccard" style="top:46%" >Entrée : </h5><p class="desccard" style="top:48%; left: 66%">26 608</p>
          <h5 class="desccard" style="top:50%" > Cumul : </h5> <p class="desccard" style="top:52%; left: 66%">1 107 557</p>
          <h5 class="desccard" style="top:54%" > Semaine : </h5> <p class="desccard" style="top:56%; left: 66%">4</p>
          <h5 class="desccard" style="top:59%"><u>Casting</u> :</h5>
          <img id="rond" src="/img/affiches/acteurs/bo/fd.jpg" alt="" >
          <img id="rond" src="/img/affiches/acteurs/bo/aa.jpg" alt=""style="right: 19%">
          <img id="rond" src="/img/affiches/acteurs/bo/am.jpg" alt="wtf" style="right: 11%"></div>
          <div class="swiper-slide" ><div id="card"></div>
          <img class="imgcard" id="box-shadow" src="/img/affiches/boxoffice/jewell.jpg" alt="">
          <p class="desccard"><b>Le Cas Richard Jewell</b>
        </br>En 1996, Richard Jewell fait partie de l'équipe chargée de la sécurité des Jeux d'Atlanta.
         Il est l'un des premiers à alerter de la présence d'une bombe et à sauver des vies. Mais il se
          retrouve bientôt suspecté... de terrorisme, passant du statut de héros à celui d'homme le plus
           détesté des Etats-Unis. </p>
          <h5 class="desccard" style="top:46%" >Entrée : </h5><p class="desccard" style="top:48%; left: 66%">25 649</p>
          <h5 class="desccard" style="top:50%" > Cumul : </h5> <p class="desccard" style="top:52%; left: 66%">773 799</p>
          <h5 class="desccard" style="top:54%" > Semaine : </h5> <p class="desccard" style="top:56%; left: 66%">4</p>
          <h5 class="desccard" style="top:59%"><u>Casting</u> :</h5>
          <img id="rond" src="/img/affiches/acteurs/bo/pwh.jpg" alt="" >
          <img id="rond" src="/img/affiches/acteurs/bo/sr.jpg" alt=""style="right: 19%">
          <img id="rond" src="/img/affiches/acteurs/bo/kb.jpg" alt="wtf" style="right: 11%"></div>
          <div class="swiper-slide" ><div id="card"></div>
          <img class="imgcard" id="box-shadow" src="/img/affiches/boxoffice/sonic.jpg" alt="">
          <p class="desccard"><b>Sonic le film</b>
        </br>L'histoire du hérisson bleu le plus rapide du monde qui arrive sur Terre, sa nouvelle maison.
         Sonic et son nouveau meilleur ami Tom font équipe pour sauver la planète du diabolique Dr. Robotnik,
         bien déterminé à régner sur le monde entier </p>
          <h5 class="desccard" style="top:46%" >Entrée : </h5><p class="desccard" style="top:48%; left: 66%">24 216</p>
          <h5 class="desccard" style="top:50%" > Cumul : </h5> <p class="desccard" style="top:52%; left: 66%">2 062 770</p>
          <h5 class="desccard" style="top:54%" > Semaine : </h5> <p class="desccard" style="top:56%; left: 66%">5</p>
          <h5 class="desccard" style="top:59%"><u>Casting</u> :</h5>
          <img id="rond" src="/img/affiches/acteurs/bo/jc.jpg" alt="" >
          <img id="rond" src="/img/affiches/acteurs/bo/jm.jpg" alt=""style="right: 19%">
          <img id="rond" src="/img/affiches/acteurs/bo/ts.jpg" alt="wtf" style="right: 11%"></div>
          <div class="swiper-slide" ><div id="card"></div>
          <img class="imgcard" id="box-shadow" src="/img/affiches/boxoffice/docteur.jpg" alt="">
          <p class="desccard"><b>Docteur ?</b>
        </br>C'est le soir de Noël. Les parisiens les plus chanceux se préparent à déballer leurs cadeaux 
        en famille. D'autres regardent la télévision seuls chez eux. D'autres encore, comme Serge, travaillent.
        Serge est le seul SOS-Médecin de garde ce soir-là. Ses collègues se sont tous défilés.</p>
          <h5 class="desccard" style="top:46%" >Entrée : </h5><p class="desccard" style="top:48%; left: 66%">22 365</p>
          <h5 class="desccard" style="top:50%" > Cumul : </h5> <p class="desccard" style="top:52%; left: 66%">1 870 770</p>
          <h5 class="desccard" style="top:54%" > Semaine : </h5> <p class="desccard" style="top:56%; left: 66%">5</p>
          <h5 class="desccard" style="top:59%"><u>Casting</u> :</h5>
          <img id="rond" src="/img/affiches/acteurs/bo/mb.jpg" alt="" >
          <img id="rond" src="/img/affiches/acteurs/bo/hj.jpg" alt=""style="right: 19%">
          <img id="rond" src="/img/affiches/acteurs/bo/sri.jpg" alt="wtf" style="right: 11%"></div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
      </div>
      <p id="categorie"><a  style="color:white; " href="#">comédie</a>-
         <a   style="color:white;" href="#">animation</a>-
        <a style="color:white;" href="#">documentaire</a>-
      <a style="color:white;" href="#">drame</a>-
    <a style="color:white;" href="#"> horreur</a> -
    <a style="color:white;" href="#">romantique</a>-
    <a style="color:white;" href="#">science-fiction</a>
    <a style="color:white;" href="#">true story</a>
  </p>
      <div class="cate">
      <div id="cate">
        <img class="imgcate" src="/img/affiches/comedie/ace_small.jpg" alt="">
        <p class="titlecate">Ace Ventura</p>
      </div>
      <div id="cate">
        <img class="imgcate" src="/img/affiches/comedie/bonatirer_small.jpg" alt="">
        <p  class="titlecate">Bon à tirer</p>
      </div>
      <div id="cate">
        <img class="imgcate" src="/img/affiches/comedie/coloc_small.jpg" alt="">
        <p  class="titlecate"> la coloc</p>
      </div>
      <div id="cate">
        <img class="imgcate" src="/img/affiches/comedie/dictator_small.jpg" alt="">
        <p  class="titlecate">the Dictator</p>
      </div>
      <div id="cate">
        <img class="imgcate" src="/img/affiches/comedie/famille_small.jpg" alt="">
        <p  class="titlecate">La famille bélier</p>
      </div>
      <div id="cate">
        <img  class="imgcate" src="/img/affiches/comedie/hollywood_small.jpg" alt="">
        <p  class="titlecate">Hollywoo</p>
      </div>
      
    </div>
    <p class="titre" style="top:298%">Bande-annonces</p>
    <div id="ba">
      <iframe width="760" height="515" src="https://www.youtube.com/embed/8lZki_Z35N0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <iframe style="position: absolute; left: 59%" width="440" height="315" src="https://www.youtube.com/embed/P37FEn5DFpk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <iframe style="position: absolute; left: 59%; top:355%" width="440" height="215" src="https://www.youtube.com/embed/rJaKYBLn0I8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</section>

 <%- include("footer.ejs") %>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>
    var swiper = new Swiper('.swiper-container', {
      effect: 'coverflow',
      grabCursor: true,
      centeredSlides: true,
      slidesPerView: 'auto',
      coverflowEffect: {
        rotate: 50,
        stretch: 0,
        depth: 100,
        modifier: 1,
        slideShadows: true,
      },
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
        renderBullet: function (index, className) {
          return '<span class="' + className + '">' + (index + 1) + '</span>';
        },
      },
    });
  </script>
</body>

</html>