<nav class="nav">
<a style="text-decoration:none;"  href="/"> <p id="tt">Aflamy</p></a>
<a style="text-decoration:none;"  href="new"> <p id="tt" style="color:white; margin-left:30%; ">Nouveautés</p></a>
<a style="text-decoration:none;"  href="#"> <p id="tt" style="color:white; margin-left:50%; ">Top 10</p></a>
<a style="text-decoration:none;"  href="#"> <p id="tt" style="color:white; margin-left:70%; ">Cinemas</p></a>
<a style="text-decoration:none;" href="#"> <img s id="avatar" style="margin-left:85%;margin-top:-1%;" src="/img/avatar.png" alt="" ></a>
</nav>