html{
    background-color:#da6b4f;
    width:100%;
    height: 100%;
    overflow:hidden;
    font-family: 'Balsamiq Sans', cursive;
    }
    body{
        height:90%;
        width:100%;
        background-color:#da6b4f;
    
    }
    header{
        font-family: 'Balsamiq Sans', cursive;
        background-color:#da6b4f;
    }
    section{
        font-family: 'Balsamiq Sans', cursive;
        display: flex;
        position: absolute;
    height: 90%;
    width: 100%;
        background-color: rgb(219,103,78);
    }
    

    #titre{
        display:flex;
        justify-content: center;
        font-size: 25px;
        font-weight: lighter;
        color:#fbcd55;
        z-index: 10;
    }
    #col-3{
        display:flex;
        flex-direction: column;
       flex:1;
        height: 100%;
       
        margin-left: 3%;
    }
    
    #p1{
        font-size: 40px;
        color:white;
        
    }
    #colg{
        display:flex;
        flex-direction: column;
       flex:1;
        height: 100%;
        
    }
    #colm{
        display:flex;
        flex-direction: column;
       flex:1;
        height: 100%;
    }

#p2{
    font-size: 20px;
    color:white;
   margin-top: 25%;
}
#p3{
    color:#fbcd55;
}
#p4{
    display: flex;
    justify-content: flex-start;
    font-size: 220px;
    margin-top: 2%;
    margin-left: -29%;
    color: white;
}

#p5{
   
    font-size: 70px;
  margin-top:-50%;
    font-weight: lighter;
    color: white;
}

#p6{   
  font-size: 13px;
  margin-top: -10%;
  margin-left: 20%;
  font-weight: lighter;
  color: white;

}

.btn{
    background-color: rgb(219,103,78);
    border: 2px solid white;
  color: white;
  padding: 15px 3px;
  width: 60%;
  margin-left: 20%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  }
  #menu{
      width:10%;
      margin-left: 20%;
  }