#cine{
    font-family: 'Cambay-Regular';
    font-size: 38px;
    margin-left: 30%;
}
a{
    text-decoration: none;
    color:black;
    padding: 2%;
    margin-left:2%;
}
.cine{
    margin-left: 8%;
}

#tcine{
    display: flex;
    flex-direction: row;
}

#nom{
    margin-right: 15%;
    margin-left: 5%;
}

#al{
    margin-right: 3%;
    margin-left: 3%;
}

#gaum{
    margin-left: 5%;
}

#sport{
    margin-left: 12%;
}
h2{
    margin-left: 40%;
    font-size: 70px;
}
.swiper-container {
    width: 100%;
    height: 100%;
  }
.swiper-wrapper{
    height: 100%;
}
#container{
    height: 500px;
}
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    height: 100%;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }