#nav{
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    position: fixed;
    top: 0;
    left: 0px;
    z-index:10;
    background-color: #EE5656;
    }
    
    .shadowbox{
        border: 1px solid #333;
        background-color: white;
      box-shadow: 8px 8px 5px #444;
      width: 100%;
    }

    #logo{
        width:20%;
        height:auto;
    }
#logo2{
    height:20%;
    width:3.5%;
    margin-right:20%;
}
    #menu{
        width: 10%;
        height: 60%;
        position: absolute;
        top:10%;
        right:0;
    }