@font-face{
	font-family:'Shaka Pow Hollow';
	src:url('../fonts/Shaka Pow Hollow.ttf') format('truetype');	    	   
}

@font-face{
	font-family:'Shaka Pow Upright Hollow';
	src:url('../fonts/Shaka Pow Upright Hollow.ttf') format('truetype');	   
}

@font-face{
	font-family:'Shaka Pow Upright';
	src:url('../fonts/Shaka Pow Upright.ttf') format('truetype');	   
}

@font-face{
	font-family:'Shaka Pow';
	src:url('../fonts/Shaka Pow.ttf') format('truetype');	   
}
#cine{
    font-family: 'Cambay-Regular';
    font-size: 38px;
    margin-left: 30%;
}
a{
    text-decoration: none;
    color:black;
    padding: 2%;
    margin-left:2%;
}
.cine{
    margin-left: 8%;
}

#tcine{
    display: flex;
    flex-direction: row;
}

#nom{
    margin-right: 15%;
    margin-left: 5%;
}

#al{
    margin-right: 3%;
    margin-left: 3%;
}

#gaum{
    margin-left: 5%;
}

#sport{
    margin-left: 12%;
}
h2{
  
}  
.swiper-container {
    width: 400px;
    height: 400px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
}
.ml15 {
    font-weight: 800;
    font-size: 3.8em;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    width: 100%;
    display: flex;
    margin-left: 43%;
    
  }
  
  .ml15 .word {
    display: inline-block;
    line-height: 1em;
   margin-right: 2%;
    
    font-family: 'Shaka Pow';
  }