body{
    background-image: url( ../img/gardins.jpg);
    background-size: cover;
    overflow: hidden;
}

#container{
    background-image: url( ../img/fond.jpg);
    background-size: cover;
    position:absolute;
    width:80%;
    height: 90%;
    left: 10%;
    top: 5%;
}

#score{
    width: 20%;
    height:20%;
    top:40%;
    left:-5%;
    position: absolute;
    transform: rotate(-90deg);
}

 @media (min-width:730px){
     /* Conteneur principal */
     #n1{
         height: 50px;
         width: 50px;
         position:absolute;
         top:50%;
         left: 3%;
         z-index:10;
     }
     #t1{
         font-size: 30px;
     }
     #n2{
        height: 50px;
        width: 50px;
        position:absolute;
        top:22%;
        left: 23%;
        z-index:10;
    }
    #t2{
        font-size: 30px;
    }
    #n3{
        height: 50px;
        width: 50px;
        position:absolute;
        top:42%;
        left: 23%;
        z-index:10;
    }
    #t3{
        font-size: 30px;
    }
    #n4{
         height: 50px;
        width: 50px;
        position:absolute;
        top:92%;
        left: 23%;
        z-index:10;
        color:white;
    }
    #t4{
        font-size: 30px;
    }#n5{
        height: 50px;
       width: 50px;
       position:absolute;
       top:72%;
       left: 23%;
       z-index:10;
       color:white;
   }
   #t5{
       font-size: 30px;
   }
   #n6{
    height: 50px;
   width: 50px;
   position:absolute;
   top:71%;
   left: 43%;
   z-index:10;
}
#t6{
   font-size: 30px;
}
#n7{
    height: 50px;
   width: 50px;
   position:absolute;
   top:45%;
   left: 43%;
   z-index:10;
   color:white;
}
#t7{
   font-size: 30px;
}
#n8{
    height: 50px;
   width: 50px;
   position:absolute;
   top: 72%;
   left: 63%;
   z-index:10;
}
#t8{
   font-size: 30px;
}
#n9{
    height: 50px;
   width: 50px;
   position:absolute;
   top: 48%;
   left: 63%;
   z-index:10;
   color:white;
}
#t9{
   font-size: 30px;
}
#n10{
    height: 50px;
   width: 50px;
   position:absolute;
   top: 32%;
   left: 63%;
   z-index:10;
   color:white;
}
#t10{
   font-size: 30px;
}
#n11{
    height: 50px;
   width: 50px;
   position:absolute;
   top: 58%;
   right: 13%;
   z-index:10;
   color:white;
}
#t11{
   font-size: 30px;
}
    img{
        position: absolute;
        height: 120px;
        width: 120px;
        border-radius: 50%; 
    } 
    #balle{
        transform-origin: center;
        position:absolute;
        height: 5%;
        top: 49%;
        left:48%;
        animation: balle 5s infinite;
    }
            @keyframes balle {
                0%{top:50%;left:50%}
            33% {top:75%;left:60%;}
                66%{top: 50%;left:85%}
            100%{top:50%;left:100%};}
   #invg{
       width: 8%;
       height: 20%;
       top:42%;
       left:15%;
       position: absolute;
       overflow: hidden;
   }         
          
   #cercle{
       position:absolute;
       width:100%;
       height:100%;
       border: 3px solid white;
       border-radius: 50%;
       left:-50%;
   }
   #invd{
    width: 8%;
    height: 20%;
    top:40%;
    left:77%;

    position: absolute;
    overflow: hidden;
}         
       
#cercled{
    position:absolute;
    width:100%;
    height:100%;
    border: 3px solid white;
    border-radius: 50%;
    left:50%
}
#tour{
    border: 3px solid white;
    width:80%;
    height: 90%;
    left: 10%;
    top: 5%;
    position: absolute;
}

#butg{
    border-top: 3px solid white;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
    width:5%;
    height:30%;
    top: 37%;
    position: absolute;
}

#butd{
    border-top: 3px solid white;
    border-left: 3px solid white;
    border-bottom: 3px solid white;
    width:5%;
    height:30%;
    top: 37%;
    left: 95%;
    position: absolute;
}

#coteg{
    border-right: 3px solid white;
    position: absolute;
    height:100%;
    left: 50%;
}

#extg{
    border-top: 3px solid white;
    border-left: 3px solid white;
    border-bottom: 3px solid white;
    width:5%;
    height:20%;
    top: 42%;
    right:100%;
    position: absolute;
}

#extd{
    border-top: 3px solid white;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
    width:5%;
    height:20%;
    top: 42%;
    left:100%;
    position: absolute;
}

#zoned{
    border-top: 3px solid white;
    border-left: 3px solid white;
    border-bottom: 3px solid white;
    width:15%;
    height:50%;
    top: 27%;
    left: 85%;
    position: absolute;
}

#zoneg{
    border-top: 3px solid white;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
    width:15%;
    height:50%;
    top: 27%;
    position: absolute;
}

#cornerhg{
    position: absolute;
    width:50px; 
    height:50px; 
    border:1px solid white; 
    border-radius: 0 0 90px 0;
}


#cornerhd{
    right:0%;
    position: absolute;
    width:50px; 
    height:50px; 
    border:1px solid white; 
    border-radius: 0 0 0 90px;
}

#cornerbg{
    left:0%;
    bottom:0%;
    position: absolute;
    width:50px; 
    height:50px; 
    border:1px solid white;
    border-radius: 0 90px 0 0;
}
#cornerbd{
    right:0%;
    bottom:0%;
    position: absolute;
    width:50px; 
    height:50px; 
    border:1px solid white;
    border-radius: 90px 0 0 0;
} 
#milieut{
    position: absolute;
    transform-origin: center;
    border-radius: 60%;
    border:3px solid white;
    height:200px;
    width: 200px;
    top:39%;
    left:41%;
}

#m1{
top: 48%;
}

#m2{
top : 80%;
left: 18%;
}

#m3{
    top:60%;
    left:18%;
}

#m4{
    top:31%;
    left:18%;
}

#m5{
    top:10%;
    left:18%;
}

#m6{
    top:33%;
    left: 38%;
}

#m7{
    top:59%;
    left:38%;
}

#m8{
    top:48%;
    left: 60%;
}

#m9{
    top:23%;
    left:60%;
}

#m10{
    top:70%;
    left:60%;
}

#m11{
    top:48%;
    left: 78%;
}
 }

 @media (max-width:730px){
    img{
        position: absolute;
        height: 70px;
        width: 70px;
        border-radius: 50%; 
    } 
    #tour{
        border: 3px solid white;
    width:70%;
    height: 90%;
    left: 15%;
    top: 5%;
    position: absolute;
    }
    #coteg{
        border-top: 3px solid white;
        position: absolute;
        width:100%;
        top: 50%;
        left:0;
    }
    #butg{
        border-top: 3px solid white;
        border-right: 3px solid white;
        border-left: 3px solid white;
        width:30%;
        height:5%;
        top: 95%;
        left:33%;
        position: absolute;
    }
    #butd{
        border-right: 3px solid white;
        border-left: 3px solid white;
        border-bottom: 3px solid white;
        width:30%;
        height:5%;
        top: 0%;
        left: 35%;
        position: absolute;
    }
    #extg{
        border-top: 3px solid white;
        border-left: 3px solid white;
        border-right: 3px solid white;
        width:20%;
        height:5%;
        top: -5%;
        right:40%;
        position: absolute;
    }
    #extd{
        border-left: 3px solid white;
        border-right: 3px solid white;
        border-bottom: 3px solid white;
        width:20%;
        height:5%;
        top: 100%;
        left:37%;
        position: absolute;
    }
    #zoned{
        border-top: 3px solid white;
        border-left: 3px solid white;
        border-right: 3px solid white;
        width:50%;
        height:15%;
        top: 85%;
        left: 25%;
        position: absolute;
    }
    
    #zoneg{
        border-left: 3px solid white;
        border-right: 3px solid white;
        border-bottom: 3px solid white;
        width:50%;
        height:15%;
        top: 0%;
        left:25%;
        position: absolute;
    }
    #milieut{
        position: absolute;
        transform-origin: center;
        border-radius: 60%;
        border:3px solid white;
        height:100px;
        width: 100px;
        top:43%;
        left:41%;
    }

    #cornerhg{
        position: absolute;
        width:25px; 
        height:25px; 
        bottom:0;
        right:0;
        border:1px solid white; 
        border-radius: 90px 0 0 0;
    }
    
    #cornerhd{
        position: absolute;
        width:25px; 
        height:25px;
        right:0; 
        border:1px solid white; 
        border-radius: 0 0 0 90px ;
    }
    
    #cornerbg{
        position: absolute;
        width:25px; 
        height:25px; 
        border:1px solid white; 
        border-radius: 0 0 90px 0;
    }
    #cornerbd{
        position: absolute;
        width:25px; 
        height:25px; 
        bottom:0;
        border:1px solid white; 
        border-radius: 0 90px 0 0;
    } 
    #invg{
        width: 8%;
        height: 15%;
        top:10%;
        left:45%;
        transform: rotate(90deg);
        position: absolute;
        overflow: hidden;
    }         
           
    #cercle{
        position:absolute;
        width:100%;
        height:100%;
        border: 3px solid white;
        border-radius: 50%;
        left:-50%
    }
    #invd{
     width: 9%;
     height: 15%;
     top:75%;
     left:45%;
     transform: rotate(90deg);
     position: absolute;
     overflow: hidden;
 }         
        
 #cercled{
     position:absolute;
     width:100%;
     height:100%;
     border: 3px solid white;
     border-radius: 50%;
     left:50%
 }
  

 .un #m1{
        top: 90%;
        left:43%;
        }
    .un #m2{
            top : 73%;
            left: 80%;
            }
  .un #m3{
     top:73%;
        left:62%;
     }
     .un #m4{
        top:73%;
        left:25%;
    }
    .un #m5{
        top:73%;
        left:5%;
    }
    .un #m6{
        top:32%;
        left: 44%;
    }
    
    .un #m7{
        top:58%;
        left:30%;
        animation-name: player2;
        animation-duration: 0.5s;
    }
    
    .un #m8{
        top:58%;
        left: 58%;
        
    }
    
    .un #m9{
        top:32%;
        left:70%;
        animation-name: player1;
        animation-duration: 5s;
    }
    
    .un #m10{
        top:32%;
        left:20%;
        
    }
    
    .un #m11{
        top:13%;
        left: 42%;
    }

    .deux #m1{
        top: 90%;
        left:43%;
        }
    .deux #m2{
            top : 63%;
            left: 80%;
            }
  .deux #m3{
     top:73%;
        left:62%;
     }
     .deux #m4{
        top:73%;
        left:25%;
    }
    .deux #m5{
        top:63%;
        left:5%;animation-name: player1;
        animation-duration: 5s;
    }
    .deux #m6{
        top:44%;
        left: 62%;
    }
    
    .deux #m7{
        top:44%;
        left:28%;
        animation-duration: 0.5s;
    }
    
    .deux #m8{
        top:58%;
        left: 45%;
        
    }
    
    .deux #m9{
        top:8%;
        left:70%;
        animation-duration: 5s;
    }
    
    .deux #m10{
        top:32%;
        left:43%;
        
    }
    
    .deux #m11{
        top:8%;
        left: 22%;
    }
    
    .trois #m1{
        top: 90%;
        left:43%;
        }
    .trois #m2{
            top : 73%;
            left: 40%;
            }
  .trois #m3{
     top:73%;
        left:68%;
     }
     .trois #m4{
        top:73%;
        left:15%;
    }
    .trois #m5{
        top:48%;
        left:5%;
    }
    .trois #m6{
        top:48%;
        left: 83%;
    }
    
    .trois #m7{
        top:48%;
        left:32%;
    }
    
    .trois #m8{
        top:48%;
        left: 60%;
        
    }
    
    .trois #m9{
        top:15%;
        left:70%;
        animation-duration: 5s;
    }
    
    .trois #m10{
        top:15%;
        left:45%;
        
    }
    
    .trois #m11{
        top:15%;
        left: 22%;
    }

    .un #n1{
        height: 50px;
        width: 50px;
        position:absolute;
        bottom:2%;
        left: 45%;
        z-index:10;
    }
    .un #t1{
        font-size: 30px;
    }
    .un #n2{
       height: 50px;
       width: 50px;
       position:absolute;
       bottom:17%;
       left: 13%;
       z-index:10;
   }
   .un #t2{
       font-size: 30px;
   }
   .un #n3{
       height: 50px;
       width: 50px;
       position:absolute;
       bottom:18%;
       left: 34%;
       z-index:10;
   }
   .un #t3{
       font-size: 30px;
   }
   .un  #n4{
        height: 50px;
       width: 50px;
       position:absolute;
       top:72%;
       left: 63%;
       z-index:10;
       color:white;
   }
   .un #t4{
       font-size: 30px;
   }
   .un #n5{
       height: 50px;
      width: 50px;
      position:absolute;
      top:72%;
      left: 83%;
      z-index:10;
      color:white;
  }
  .un #t5{
      font-size: 30px;
  }
  .un #n6{
   height: 50px;
  width: 50px;
  position:absolute;
  top:57%;
  left: 35%;
  z-index:10;
  color:white;
  animation-name: player2;
  animation-duration: 0.5s;
}
.un #t6{
  font-size: 30px;
}
.un #n7{
   height: 50px;
  width: 50px;
  position:absolute;
  top:56%;
  left: 63%;
  z-index:10;
  color:white;
}
.un #t7{
  font-size: 30px;
}
.un #n8{
   height: 50px;height: 50px;
   width: 50px;
   position:absolute;
   top:57%;
   left: 35%;
   z-index:10;
   color:white;
  width: 50px;
  position:absolute;
  top: 32%;
  left: 23%;
  z-index:10;
}
.un #t8{
  font-size: 30px;
}
.un #n9{
   height: 50px;
  width: 50px;
  position:absolute;
  top: 32%;
  left: 49%;
  z-index:10;
  color:white;
}
.un #t9{
  font-size: 30px;
}
.un #n10{
   height: 50px;
  width: 50px;
  position:absolute;
  top: 38%;
  left: 73%;
  z-index:10;
  color:white;
  animation-name: player1;
  animation-duration: 5s;
}
.un #t10{
  font-size: 30px;
}
.un #n11{
   height: 50px;
  width: 50px;
  position:absolute;
  top: 17%;
  left: 49%;
  z-index:10;
  color:white;
}
.un #t11{
  font-size: 30px;
}
.deux #n1{
    height: 50px;
    width: 50px;
    position:absolute;
    bottom:2%;
    left: 45%;
    z-index:10;
}
.deux #t1{
    font-size: 30px;
}
.deux #n2{
   height: 50px;
   width: 50px;
   position:absolute;
   bottom:23%;
   left: 13%;
   z-index:10;
   animation-name: player2;
   animation-duration: 2s;
}
.deux #t2{
   font-size: 30px;
}
.deux #n3{
   height: 50px;
   width: 50px;
   position:absolute;
   bottom:18%;
   left: 34%;
   z-index:10;
}
.deux #t3{
   font-size: 30px;
}
.deux #n4{
    height: 50px;
   width: 50px;
   position:absolute;
   top:72%;
   left: 63%;
   z-index:10;
   color:white;
}
.deux #t4{
   font-size: 30px;
}
.deux #n5{
   height: 50px;
  width: 50px;
  position:absolute;
  top:66%;
  left: 83%;
  z-index:10;
  color:white;
}
.deux #t5{
  font-size: 30px;
}
.deux #n6{
height: 50px;
width: 50px;
position:absolute;
top:42%;
left: 35%;
z-index:10;
color:white;

}
.deux #t6{
font-size: 30px;
}
.deux #n7{
height: 50px;
width: 50px;
position:absolute;
top:46%;
left: 63%;
z-index:10;
color:white;
}
.deux #t7{
font-size: 30px;
}
.deux #n8{
height: 50px;
width: 50px;
position:absolute;
top:37%;
left: 55%;
z-index:10;
color:white;

}
.deux #t8{
font-size: 30px;
}
.deux #n9{
height: 50px;
width: 50px;
position:absolute;
top: 56%;
left: 49%;
z-index:10;
color:white;
}
.deux #t9{
font-size: 30px;
}
.deux #n10{
height: 50px;
width: 50px;
position:absolute;
top: 10%;
left: 80%;
z-index:10;
color:white;
}
.deux #t10{
font-size: 30px;
}
.deux #n11{
height: 50px;
width: 50px;
position:absolute;
top: 10%;
left: 35%;
z-index:10;
}
.deux #t11{
font-size: 30px;
}
.trois #n1{
    height: 50px;
    width: 50px;
    position:absolute;
    bottom:2%;
    left: 45%;
    z-index:10;
}
.trois #t1{
    font-size: 30px;
}
.trois #n2{
   height: 50px;
   width: 50px;
   position:absolute;
   bottom:45%;
   left: 16%;
   z-index:10;
}
.trois #t2{
   font-size: 30px;
}
.trois #n3{
   height: 50px;
   width: 50px;
   position:absolute;
   bottom:18%;
   left: 25%;
   z-index:10;
}
.trois #t3{
   font-size: 30px;
}
.trois #n4{
    height: 50px;
   width: 50px;
   position:absolute;
   top:75%;
   left: 45%;
   z-index:10;
   color:white;
}
.trois #t4{
   font-size: 30px;
}
.trois #n5{
   height: 50px;
  width: 50px;
  position:absolute;
  top:75%;
  left: 69%;
  z-index:10;
  color:white;
}
.trois #t5{
  font-size: 30px;
}
.trois #n6{
height: 50px;
width: 50px;
position:absolute;
top:48%;
left: 35%;
z-index:10;
color:white;

}
.trois #t6{
font-size: 30px;
}
.trois #n7{
height: 50px;
width: 50px;
position:absolute;
top:52%;
right:3%;
z-index:10;
color:white;
}
.trois #t7{
font-size: 30px;
}
.trois #n8{
height: 50px;
width: 50px;
position:absolute;
top:17%;
left: 55%;
z-index:10;
color:white;

}
.trois #t8{
font-size: 30px;
}
.trois #n9{
height: 50px;
width: 50px;
position:absolute;
top: 46%;
left: 65%;
z-index:10;
color:white;
}
.trois #t9{
font-size: 30px;
}
.trois #n10{
height: 50px;
width: 50px;
position:absolute;
top: 17%;
left: 77%;
z-index:10;
color:white;
}
.trois #t10{
font-size: 30px;
}
.trois #n11{
height: 50px;
width: 50px;
position:absolute;
top: 17%;
left: 28%;
z-index:10;
}
.trois #t11{
font-size: 30px;
}
    #balle{
        transform-origin: center;
        position:absolute;
        height: 5%;
        top: 49%;
        left:48%;
        animation-name: balle;
        
        animation-duration: 7s;
    }
            @keyframes balle {
             0%{top:50%;left:50%}
             50% {top:10%;left:80%;}
             100%{top:-5%;left:50%;}
            }
            @keyframes player1{
                0%{transform:translate(0,0)}
                50% {transform:translate(40px,-110px);}
                100%{transform:translate(40px,-110px);}
            }
            @keyframes player2 {
                0%{transform:translate(0,0)}
                100%{transform:translate(35px,-100px);  }
        }
    }